.banner-img-1{
    background-image: url(../icons/images/banner.png );
    height:100vh;
    background-repeat: no-repeat;
}

    .background-color{
        background-color: #0d6efd;
        color: white;
    } 
