.reviews-img{
    height:auto;
    width: 20%;
    
}
.carousel-caption{
    text-align: center;
   width:50%;
   height: 50%; 
   border: none;
}
.a{
    text-decoration: none;
    color:white;

}
.footer-icon{
    background-color:#B68C5A ;
    width:42px;
    height:45px;
    border-radius:5px;
    position: absolute;
    align-items: center;
    z-index:1;
}
.img{
    align-items: center;
    height:20px;
    width: 20px;  
}